MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
INGESTION_API_PORT=8000
DAGSTER_UI_PORT=3000
STREAMLIT_PORT=8501
MINIO_ENDPOINT=http://minio:9000
LAKEHOUSE_BUCKET=lakehouse
RAW_PREFIX=raw
